export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
export HADOOP_HOME={{ hadoop_home }}
export HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
export PATH=$PATH:{{ hadoop_home }}/bin:{{ hadoop_home }}/sbin
