[Unit]
Description=Hadoop YARN NodeManager
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User={{ hadoop_user }}
Group={{ hadoop_group }}
Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
Environment=HADOOP_HOME={{ hadoop_home }}
ExecStart={{ hadoop_home }}/bin/yarn --daemon start nodemanager
ExecStop={{ hadoop_home }}/bin/yarn --daemon stop nodemanager

[Install]
WantedBy=multi-user.target
