tp/01-big-data-hadoop/Dockerfile text eol=lf
tp/01-big-data-hadoop/README.md text eol=lf
tp/01-big-data-hadoop/docker-compose.yml text eol=lf
tp/01-big-data-hadoop/docker/**/*.sh text eol=lf
tp/01-big-data-hadoop/docker/config/** text eol=lf
tp/01-big-data-hadoop/docker/profile.d/*.sh text eol=lf
