server {
    listen 0.0.0.0:9870;
    server_name _;
    location / {
        proxy_pass http://{{ hostvars[groups['masters'][0]].private_ip }}:9870;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 0.0.0.0:8088;
    server_name _;
    location / {
        proxy_pass http://{{ hostvars[groups['masters'][0]].private_ip }}:8088;
        proxy_redirect http://master:8088/ http://$http_host/;
        proxy_redirect http://{{ hostvars[groups['masters'][0]].private_ip }}:8088/ http://$http_host/;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
        sub_filter_once off;
        sub_filter_types text/html text/plain application/json;
        sub_filter 'http://master:8088' 'http://$http_host';
        sub_filter 'http://{{ hostvars[groups['masters'][0]].private_ip }}:8088' 'http://$http_host';
        sub_filter 'master:8088' '$http_host';
        sub_filter '{{ hostvars[groups['masters'][0]].private_ip }}:8088' '$http_host';
        {% for host in groups['workers'] %}
        sub_filter 'http://{{ host }}:8042' 'http://$host:{{ 8042 + loop.index0 }}';
        sub_filter '//{{ host }}:8042' '//$host:{{ 8042 + loop.index0 }}';
        sub_filter '{{ host }}:8042' '$host:{{ 8042 + loop.index0 }}';
        sub_filter 'http://{{ hostvars[host].private_ip }}:8042' 'http://$host:{{ 8042 + loop.index0 }}';
        sub_filter '//{{ hostvars[host].private_ip }}:8042' '//$host:{{ 8042 + loop.index0 }}';
        sub_filter '{{ hostvars[host].private_ip }}:8042' '$host:{{ 8042 + loop.index0 }}';
        {% endfor %}
    }
}

server {
    listen 0.0.0.0:18080;
    server_name _;
    location / {
        proxy_pass http://127.0.0.1:18080;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
        sub_filter_once off;
        sub_filter_types text/html text/plain application/json;
        sub_filter 'http://localhost:18080' 'http://$http_host';
        sub_filter 'localhost:18080' '$http_host';
    }
}

server {
    listen 0.0.0.0:10002;
    server_name _;
    location / {
        proxy_pass http://127.0.0.1:10002;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
        sub_filter_once off;
        sub_filter_types text/html text/plain application/json;
        sub_filter 'http://localhost:10002' 'http://$http_host';
        sub_filter 'localhost:10002' '$http_host';
    }
}

server {
    listen 0.0.0.0:16010;
    server_name _;
    location / {
        proxy_pass http://{{ hostvars[groups['masters'][0]].private_ip }}:16010;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
        sub_filter_once off;
        sub_filter_types text/html text/plain application/json;
        sub_filter 'http://{{ groups['masters'][0] }}:16010' 'http://$http_host';
        sub_filter '{{ groups['masters'][0] }}:16010' '$http_host';
        sub_filter 'http://{{ hostvars[groups['masters'][0]].private_ip }}:16010' 'http://$http_host';
        sub_filter '{{ hostvars[groups['masters'][0]].private_ip }}:16010' '$http_host';
        {% for host in groups['workers'] %}
        sub_filter 'http://{{ host }}:16030' 'http://$host:{{ 16030 + loop.index0 }}';
        sub_filter '{{ host }}:16030' '$host:{{ 16030 + loop.index0 }}';
        sub_filter 'http://{{ hostvars[host].private_ip }}:16030' 'http://$host:{{ 16030 + loop.index0 }}';
        sub_filter '{{ hostvars[host].private_ip }}:16030' '$host:{{ 16030 + loop.index0 }}';
        {% endfor %}
    }
}

{% for port in range(4040, 4051) %}
server {
    listen 0.0.0.0:{{ port }};
    server_name _;
    location / {
        proxy_pass http://127.0.0.1:{{ port }};
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
        sub_filter_once off;
        sub_filter_types text/html text/plain application/json;
        sub_filter 'http://localhost:{{ port }}' 'http://$http_host';
        sub_filter 'localhost:{{ port }}' '$http_host';
    }
}
{% endfor %}

server {
    listen 0.0.0.0:19888;
    server_name _;

    location /cluster/ {
        return 302 $scheme://$host:8088$request_uri;
    }

    location /proxy/ {
        return 302 $scheme://$host:8088$request_uri;
    }

    location / {
        proxy_pass http://{{ hostvars[groups['masters'][0]].private_ip }}:19888;
        proxy_redirect http://master:19888/ http://$http_host/;
        proxy_redirect http://{{ hostvars[groups['masters'][0]].private_ip }}:19888/ http://$http_host/;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
        sub_filter_once off;
        sub_filter_types text/html text/plain application/json;
        sub_filter 'http://master:19888' 'http://$http_host';
        sub_filter 'http://{{ hostvars[groups['masters'][0]].private_ip }}:19888' 'http://$http_host';
        sub_filter 'master:19888' '$http_host';
        sub_filter '{{ hostvars[groups['masters'][0]].private_ip }}:19888' '$http_host';
    }
}

{% for host in groups['workers'] %}
server {
    listen 0.0.0.0:{{ 9864 + loop.index0 }};
    server_name _;
    location / {
        proxy_pass http://{{ hostvars[host].private_ip }}:9864;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 0.0.0.0:{{ 8042 + loop.index0 }};
    server_name _;
    location / {
        proxy_pass http://{{ hostvars[host].private_ip }}:8042;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 0.0.0.0:{{ 16030 + loop.index0 }};
    server_name _;
    location / {
        proxy_pass http://{{ hostvars[host].private_ip }}:16030;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
{% endfor %}
