export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
export HBASE_HOME={{ hbase_home }}
export HBASE_CONF_DIR={{ hbase_home }}/conf
export HBASE_LOG_DIR=/var/log/hbase
export HBASE_PID_DIR=/run/hbase
export HBASE_MANAGES_ZK=false
export HADOOP_HOME={{ hadoop_home }}
export HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
export HBASE_CLASSPATH="$HADOOP_CONF_DIR:$("$HADOOP_HOME"/bin/hadoop classpath --glob)"
